.containerCarros {
    display: flex;
    align-items: center;
    padding: 10px -99px;
    margin: 13px;
    border-radius: 11px;
    justify-content: space-between;
    box-sizing: border-box;
}

.caixa {
    width: 71%;
    text-align: center;
    border-radius: 20px;
    border: transparent;
    margin-right: 80px;
    padding: 14px;
}

.seta {
    margin-left: 90px;
    cursor: pointer;
    transition: 0.4s;
}

.seta:hover {
    transition: 0.4s;
    transform: translateX(-1.6);
}